/dist/hooks/index.d.ts
/dist/hooks/index.js
/dist/hooks/index.js.map
/dist/hooks/useEvt.d.ts
/dist/hooks/useEvt.js
/dist/hooks/useEvt.js.map
/dist/hooks/useRerenderOnStateChange.d.ts
/dist/hooks/useRerenderOnStateChange.js
/dist/hooks/useRerenderOnStateChange.js.map
/dist/lib/Ctx.d.ts
/dist/lib/Ctx.js
/dist/lib/Ctx.js.map
/dist/lib/Evt.asNonPostable.d.ts
/dist/lib/Evt.asNonPostable.js
/dist/lib/Evt.asNonPostable.js.map
/dist/lib/Evt.asPostable.d.ts
/dist/lib/Evt.asPostable.js
/dist/lib/Evt.asPostable.js.map
/dist/lib/Evt.asyncPipe.d.ts
/dist/lib/Evt.asyncPipe.js
/dist/lib/Evt.asyncPipe.js.map
/dist/lib/Evt.create.d.ts
/dist/lib/Evt.create.js
/dist/lib/Evt.create.js.map
/dist/lib/Evt.d.ts
/dist/lib/Evt.factorize.d.ts
/dist/lib/Evt.factorize.js
/dist/lib/Evt.factorize.js.map
/dist/lib/Evt.from.d.ts
/dist/lib/Evt.from.js
/dist/lib/Evt.from.js.map
/dist/lib/Evt.getCtx.d.ts
/dist/lib/Evt.getCtx.js
/dist/lib/Evt.getCtx.js.map
/dist/lib/Evt.js
/dist/lib/Evt.js.map
/dist/lib/Evt.loosenType.d.ts
/dist/lib/Evt.loosenType.js
/dist/lib/Evt.loosenType.js.map
/dist/lib/Evt.merge.d.ts
/dist/lib/Evt.merge.js
/dist/lib/Evt.merge.js.map
/dist/lib/Evt.newCtx.d.ts
/dist/lib/Evt.newCtx.js
/dist/lib/Evt.newCtx.js.map
/dist/lib/Evt.parsePropsFromArgs.d.ts
/dist/lib/Evt.parsePropsFromArgs.js
/dist/lib/Evt.parsePropsFromArgs.js.map
/dist/lib/LazyEvt.d.ts
/dist/lib/LazyEvt.js
/dist/lib/LazyEvt.js.map
/dist/lib/LazyStatefulEvt.d.ts
/dist/lib/LazyStatefulEvt.js
/dist/lib/LazyStatefulEvt.js.map
/dist/lib/StatefulEvt.d.ts
/dist/lib/StatefulEvt.js
/dist/lib/StatefulEvt.js.map
/dist/lib/importProxy.d.ts
/dist/lib/importProxy.js
/dist/lib/importProxy.js.map
/dist/lib/index.d.ts
/dist/lib/index.js
/dist/lib/index.js.map
/dist/lib/types/AsyncIterableEvt.d.ts
/dist/lib/types/AsyncIterableEvt.js
/dist/lib/types/AsyncIterableEvt.js.map
/dist/lib/types/EventTargetLike.d.ts
/dist/lib/types/EventTargetLike.js
/dist/lib/types/EventTargetLike.js.map
/dist/lib/types/EvtError.d.ts
/dist/lib/types/EvtError.js
/dist/lib/types/EvtError.js.map
/dist/lib/types/Handler.d.ts
/dist/lib/types/Handler.js
/dist/lib/types/Handler.js.map
/dist/lib/types/Observer.d.ts
/dist/lib/types/Observer.js
/dist/lib/types/Observer.js.map
/dist/lib/types/Operator.d.ts
/dist/lib/types/Operator.js
/dist/lib/types/Operator.js.map
/dist/lib/types/helper/EvtLikeToEvt.d.ts
/dist/lib/types/helper/EvtLikeToEvt.js
/dist/lib/types/helper/EvtLikeToEvt.js.map
/dist/lib/types/helper/FactorizeEvt.d.ts
/dist/lib/types/helper/FactorizeEvt.js
/dist/lib/types/helper/FactorizeEvt.js.map
/dist/lib/types/helper/SwapEvtType.d.ts
/dist/lib/types/helper/SwapEvtType.js
/dist/lib/types/helper/SwapEvtType.js.map
/dist/lib/types/helper/ToNonPostableEvt.d.ts
/dist/lib/types/helper/ToNonPostableEvt.js
/dist/lib/types/helper/ToNonPostableEvt.js.map
/dist/lib/types/helper/ToPostableEvt.d.ts
/dist/lib/types/helper/ToPostableEvt.js
/dist/lib/types/helper/ToPostableEvt.js.map
/dist/lib/types/helper/UnpackCtx.d.ts
/dist/lib/types/helper/UnpackCtx.js
/dist/lib/types/helper/UnpackCtx.js.map
/dist/lib/types/helper/UnpackEvt.d.ts
/dist/lib/types/helper/UnpackEvt.js
/dist/lib/types/helper/UnpackEvt.js.map
/dist/lib/types/helper/index.d.ts
/dist/lib/types/helper/index.js
/dist/lib/types/helper/index.js.map
/dist/lib/types/index.d.ts
/dist/lib/types/index.js
/dist/lib/types/index.js.map
/dist/lib/types/interfaces/Ctx.d.ts
/dist/lib/types/interfaces/Ctx.js
/dist/lib/types/interfaces/Ctx.js.map
/dist/lib/types/interfaces/CtxLike.d.ts
/dist/lib/types/interfaces/CtxLike.js
/dist/lib/types/interfaces/CtxLike.js.map
/dist/lib/types/interfaces/Evt.d.ts
/dist/lib/types/interfaces/Evt.js
/dist/lib/types/interfaces/Evt.js.map
/dist/lib/types/interfaces/EvtLike.d.ts
/dist/lib/types/interfaces/EvtLike.js
/dist/lib/types/interfaces/EvtLike.js.map
/dist/lib/types/interfaces/NonPostableEvt.d.ts
/dist/lib/types/interfaces/NonPostableEvt.js
/dist/lib/types/interfaces/NonPostableEvt.js.map
/dist/lib/types/interfaces/NonPostableEvtLike.d.ts
/dist/lib/types/interfaces/NonPostableEvtLike.js
/dist/lib/types/interfaces/NonPostableEvtLike.js.map
/dist/lib/types/interfaces/Postable.d.ts
/dist/lib/types/interfaces/Postable.js
/dist/lib/types/interfaces/Postable.js.map
/dist/lib/types/interfaces/StatefulEvt.d.ts
/dist/lib/types/interfaces/StatefulEvt.js
/dist/lib/types/interfaces/StatefulEvt.js.map
/dist/lib/types/interfaces/StatefulEvtLike.d.ts
/dist/lib/types/interfaces/StatefulEvtLike.js
/dist/lib/types/interfaces/StatefulEvtLike.js.map
/dist/lib/types/interfaces/StatefulPostable.d.ts
/dist/lib/types/interfaces/StatefulPostable.js
/dist/lib/types/interfaces/StatefulPostable.js.map
/dist/lib/types/interfaces/StatefulReadonlyEvt.d.ts
/dist/lib/types/interfaces/StatefulReadonlyEvt.js
/dist/lib/types/interfaces/StatefulReadonlyEvt.js.map
/dist/lib/types/interfaces/StatefulReadonlyEvtLike.d.ts
/dist/lib/types/interfaces/StatefulReadonlyEvtLike.js
/dist/lib/types/interfaces/StatefulReadonlyEvtLike.js.map
/dist/lib/types/interfaces/index.d.ts
/dist/lib/types/interfaces/index.js
/dist/lib/types/interfaces/index.js.map
/dist/lib/types/lib.dom.d.ts
/dist/lib/types/lib.dom.js
/dist/lib/types/lib.dom.js.map
/dist/lib/util/compose.d.ts
/dist/lib/util/compose.js
/dist/lib/util/compose.js.map
/dist/lib/util/convertOperatorToStatelessFLambda.d.ts
/dist/lib/util/convertOperatorToStatelessFLambda.js
/dist/lib/util/convertOperatorToStatelessFLambda.js.map
/dist/lib/util/genericOperators/chunksOf.d.ts
/dist/lib/util/genericOperators/chunksOf.js
/dist/lib/util/genericOperators/chunksOf.js.map
/dist/lib/util/genericOperators/distinct.d.ts
/dist/lib/util/genericOperators/distinct.js
/dist/lib/util/genericOperators/distinct.js.map
/dist/lib/util/genericOperators/index.d.ts
/dist/lib/util/genericOperators/index.js
/dist/lib/util/genericOperators/index.js.map
/dist/lib/util/genericOperators/nonNullable.d.ts
/dist/lib/util/genericOperators/nonNullable.js
/dist/lib/util/genericOperators/nonNullable.js.map
/dist/lib/util/genericOperators/scan.d.ts
/dist/lib/util/genericOperators/scan.js
/dist/lib/util/genericOperators/scan.js.map
/dist/lib/util/genericOperators/throttleTime.d.ts
/dist/lib/util/genericOperators/throttleTime.js
/dist/lib/util/genericOperators/throttleTime.js.map
/dist/lib/util/genericOperators/to.d.ts
/dist/lib/util/genericOperators/to.js
/dist/lib/util/genericOperators/to.js.map
/dist/lib/util/index.d.ts
/dist/lib/util/index.js
/dist/lib/util/index.js.map
/dist/test/getHandlerPr.d.ts
/dist/test/getHandlerPr.js
/dist/test/getHandlerPr.js.map
/dist/test/index.d.ts
/dist/test/index.js
/dist/test/index.js.map
/dist/test/mod.d.ts
/dist/test/mod.js
/dist/test/mod.js.map
/dist/test/test1.d.ts
/dist/test/test1.js
/dist/test/test1.js.map
/dist/test/test10.d.ts
/dist/test/test10.js
/dist/test/test10.js.map
/dist/test/test100.d.ts
/dist/test/test100.js
/dist/test/test100.js.map
/dist/test/test101.d.ts
/dist/test/test101.js
/dist/test/test101.js.map
/dist/test/test102.d.ts
/dist/test/test102.js
/dist/test/test102.js.map
/dist/test/test103.d.ts
/dist/test/test103.js
/dist/test/test103.js.map
/dist/test/test104.d.ts
/dist/test/test104.js
/dist/test/test104.js.map
/dist/test/test105.d.ts
/dist/test/test105.js
/dist/test/test105.js.map
/dist/test/test106.d.ts
/dist/test/test106.js
/dist/test/test106.js.map
/dist/test/test107.d.ts
/dist/test/test107.js
/dist/test/test107.js.map
/dist/test/test11.d.ts
/dist/test/test11.js
/dist/test/test11.js.map
/dist/test/test12.d.ts
/dist/test/test12.js
/dist/test/test12.js.map
/dist/test/test13.d.ts
/dist/test/test13.js
/dist/test/test13.js.map
/dist/test/test14.d.ts
/dist/test/test14.js
/dist/test/test14.js.map
/dist/test/test15.d.ts
/dist/test/test15.js
/dist/test/test15.js.map
/dist/test/test16.d.ts
/dist/test/test16.js
/dist/test/test16.js.map
/dist/test/test17.d.ts
/dist/test/test17.js
/dist/test/test17.js.map
/dist/test/test18.d.ts
/dist/test/test18.js
/dist/test/test18.js.map
/dist/test/test19.d.ts
/dist/test/test19.js
/dist/test/test19.js.map
/dist/test/test2.d.ts
/dist/test/test2.js
/dist/test/test2.js.map
/dist/test/test20.d.ts
/dist/test/test20.js
/dist/test/test20.js.map
/dist/test/test21.d.ts
/dist/test/test21.js
/dist/test/test21.js.map
/dist/test/test22.d.ts
/dist/test/test22.js
/dist/test/test22.js.map
/dist/test/test23.d.ts
/dist/test/test23.js
/dist/test/test23.js.map
/dist/test/test24.d.ts
/dist/test/test24.js
/dist/test/test24.js.map
/dist/test/test25.d.ts
/dist/test/test25.js
/dist/test/test25.js.map
/dist/test/test26.d.ts
/dist/test/test26.js
/dist/test/test26.js.map
/dist/test/test27.d.ts
/dist/test/test27.js
/dist/test/test27.js.map
/dist/test/test28.d.ts
/dist/test/test28.js
/dist/test/test28.js.map
/dist/test/test29.d.ts
/dist/test/test29.js
/dist/test/test29.js.map
/dist/test/test3.d.ts
/dist/test/test3.js
/dist/test/test3.js.map
/dist/test/test30.d.ts
/dist/test/test30.js
/dist/test/test30.js.map
/dist/test/test31.d.ts
/dist/test/test31.js
/dist/test/test31.js.map
/dist/test/test32.d.ts
/dist/test/test32.js
/dist/test/test32.js.map
/dist/test/test33.d.ts
/dist/test/test33.js
/dist/test/test33.js.map
/dist/test/test34.d.ts
/dist/test/test34.js
/dist/test/test34.js.map
/dist/test/test35.d.ts
/dist/test/test35.js
/dist/test/test35.js.map
/dist/test/test36.d.ts
/dist/test/test36.js
/dist/test/test36.js.map
/dist/test/test37.d.ts
/dist/test/test37.js
/dist/test/test37.js.map
/dist/test/test38.d.ts
/dist/test/test38.js
/dist/test/test38.js.map
/dist/test/test39.d.ts
/dist/test/test39.js
/dist/test/test39.js.map
/dist/test/test4.d.ts
/dist/test/test4.js
/dist/test/test4.js.map
/dist/test/test44.d.ts
/dist/test/test44.js
/dist/test/test44.js.map
/dist/test/test49.d.ts
/dist/test/test49.js
/dist/test/test49.js.map
/dist/test/test5.d.ts
/dist/test/test5.js
/dist/test/test5.js.map
/dist/test/test50.d.ts
/dist/test/test50.js
/dist/test/test50.js.map
/dist/test/test51.d.ts
/dist/test/test51.js
/dist/test/test51.js.map
/dist/test/test52.d.ts
/dist/test/test52.js
/dist/test/test52.js.map
/dist/test/test53.d.ts
/dist/test/test53.js
/dist/test/test53.js.map
/dist/test/test54.d.ts
/dist/test/test54.js
/dist/test/test54.js.map
/dist/test/test55.d.ts
/dist/test/test55.js
/dist/test/test55.js.map
/dist/test/test56.d.ts
/dist/test/test56.js
/dist/test/test56.js.map
/dist/test/test57.d.ts
/dist/test/test57.js
/dist/test/test57.js.map
/dist/test/test59.d.ts
/dist/test/test59.js
/dist/test/test59.js.map
/dist/test/test6.d.ts
/dist/test/test6.js
/dist/test/test6.js.map
/dist/test/test60.d.ts
/dist/test/test60.js
/dist/test/test60.js.map
/dist/test/test61.d.ts
/dist/test/test61.js
/dist/test/test61.js.map
/dist/test/test62.d.ts
/dist/test/test62.js
/dist/test/test62.js.map
/dist/test/test63.d.ts
/dist/test/test63.js
/dist/test/test63.js.map
/dist/test/test64.d.ts
/dist/test/test64.js
/dist/test/test64.js.map
/dist/test/test65.d.ts
/dist/test/test65.js
/dist/test/test65.js.map
/dist/test/test66.d.ts
/dist/test/test66.js
/dist/test/test66.js.map
/dist/test/test67.d.ts
/dist/test/test67.js
/dist/test/test67.js.map
/dist/test/test68.d.ts
/dist/test/test68.js
/dist/test/test68.js.map
/dist/test/test69.d.ts
/dist/test/test69.js
/dist/test/test69.js.map
/dist/test/test7.d.ts
/dist/test/test7.js
/dist/test/test7.js.map
/dist/test/test70.d.ts
/dist/test/test70.js
/dist/test/test70.js.map
/dist/test/test71.d.ts
/dist/test/test71.js
/dist/test/test71.js.map
/dist/test/test73.d.ts
/dist/test/test73.js
/dist/test/test73.js.map
/dist/test/test76.d.ts
/dist/test/test76.js
/dist/test/test76.js.map
/dist/test/test78.d.ts
/dist/test/test78.js
/dist/test/test78.js.map
/dist/test/test79.d.ts
/dist/test/test79.js
/dist/test/test79.js.map
/dist/test/test8.d.ts
/dist/test/test8.js
/dist/test/test8.js.map
/dist/test/test80.d.ts
/dist/test/test80.js
/dist/test/test80.js.map
/dist/test/test81.d.ts
/dist/test/test81.js
/dist/test/test81.js.map
/dist/test/test82.d.ts
/dist/test/test82.js
/dist/test/test82.js.map
/dist/test/test83.d.ts
/dist/test/test83.js
/dist/test/test83.js.map
/dist/test/test84.d.ts
/dist/test/test84.js
/dist/test/test84.js.map
/dist/test/test85.d.ts
/dist/test/test85.js
/dist/test/test85.js.map
/dist/test/test86.d.ts
/dist/test/test86.js
/dist/test/test86.js.map
/dist/test/test87.d.ts
/dist/test/test87.js
/dist/test/test87.js.map
/dist/test/test88.d.ts
/dist/test/test88.js
/dist/test/test88.js.map
/dist/test/test9.d.ts
/dist/test/test9.js
/dist/test/test9.js.map
/dist/test/test90.d.ts
/dist/test/test90.js
/dist/test/test90.js.map
/dist/test/test91.d.ts
/dist/test/test91.js
/dist/test/test91.js.map
/dist/test/test92.d.ts
/dist/test/test92.js
/dist/test/test92.js.map
/dist/test/test93.d.ts
/dist/test/test93.js
/dist/test/test93.js.map
/dist/test/test94.d.ts
/dist/test/test94.js
/dist/test/test94.js.map
/dist/test/test95.d.ts
/dist/test/test95.js
/dist/test/test95.js.map
/dist/test/test96.d.ts
/dist/test/test96.js
/dist/test/test96.js.map
/dist/test/test97.d.ts
/dist/test/test97.js
/dist/test/test97.js.map
/dist/test/test98.d.ts
/dist/test/test98.js
/dist/test/test98.js.map
/dist/test/test99.d.ts
/dist/test/test99.js
/dist/test/test99.js.map
/dist/test/types/Evt.create.d.ts
/dist/test/types/Evt.create.js
/dist/test/types/Evt.create.js.map
/dist/test/types/EvtLike.d.ts
/dist/test/types/EvtLike.js
/dist/test/types/EvtLike.js.map
/dist/test/types/EvtLikeToEvt.d.ts
/dist/test/types/EvtLikeToEvt.js
/dist/test/types/EvtLikeToEvt.js.map
/dist/test/types/UnpackEvt.d.ts
/dist/test/types/UnpackEvt.js
/dist/test/types/UnpackEvt.js.map
/dist/tools/Deferred.d.ts
/dist/tools/Deferred.js
/dist/tools/Deferred.js.map
/dist/tools/concatUint8Array.d.ts
/dist/tools/concatUint8Array.js
/dist/tools/concatUint8Array.js.map
/dist/tools/inDepth/copy.d.ts
/dist/tools/inDepth/copy.js
/dist/tools/inDepth/copy.js.map
/dist/tools/inDepth/getPrototypeChain.d.ts
/dist/tools/inDepth/getPrototypeChain.js
/dist/tools/inDepth/getPrototypeChain.js.map
/dist/tools/inDepth/index.d.ts
/dist/tools/inDepth/index.js
/dist/tools/inDepth/index.js.map
/dist/tools/inDepth/same.d.ts
/dist/tools/inDepth/same.js
/dist/tools/inDepth/same.js.map
/dist/tools/inDepth/test.d.ts
/dist/tools/inDepth/test.js
/dist/tools/inDepth/test.js.map
/dist/tools/inDepth/types.d.ts
/dist/tools/inDepth/types.js
/dist/tools/inDepth/types.js.map
/dist/tools/isCallableFunction.d.ts
/dist/tools/isCallableFunction.js
/dist/tools/isCallableFunction.js.map
/dist/tools/minimal-polyfills/LightMap.d.ts
/dist/tools/minimal-polyfills/LightMap.js
/dist/tools/minimal-polyfills/LightMap.js.map
/dist/tools/minimal-polyfills/LightSet.d.ts
/dist/tools/minimal-polyfills/LightSet.js
/dist/tools/minimal-polyfills/LightSet.js.map
/dist/tools/powerhooks/tools/useEffectRunConditionToDependencyArray.d.ts
/dist/tools/powerhooks/tools/useEffectRunConditionToDependencyArray.js
/dist/tools/powerhooks/tools/useEffectRunConditionToDependencyArray.js.map
/dist/tools/powerhooks/useEffectIf.d.ts
/dist/tools/powerhooks/useEffectIf.js
/dist/tools/powerhooks/useEffectIf.js.map
/dist/tools/powerhooks/useGuaranteedMemo.d.ts
/dist/tools/powerhooks/useGuaranteedMemo.js
/dist/tools/powerhooks/useGuaranteedMemo.js.map
/dist/tools/reducers/allEquals.d.ts
/dist/tools/reducers/allEquals.js
/dist/tools/reducers/allEquals.js.map
/dist/tools/reducers/allEqualsTo.d.ts
/dist/tools/reducers/allEqualsTo.js
/dist/tools/reducers/allEqualsTo.js.map
/dist/tools/reducers/allUniq.d.ts
/dist/tools/reducers/allUniq.js
/dist/tools/reducers/allUniq.js.map
/dist/tools/reducers/and.d.ts
/dist/tools/reducers/and.js
/dist/tools/reducers/and.js.map
/dist/tools/reducers/contains.d.ts
/dist/tools/reducers/contains.js
/dist/tools/reducers/contains.js.map
/dist/tools/reducers/count.d.ts
/dist/tools/reducers/count.js
/dist/tools/reducers/count.js.map
/dist/tools/reducers/diff.d.ts
/dist/tools/reducers/diff.js
/dist/tools/reducers/diff.js.map
/dist/tools/reducers/every.d.ts
/dist/tools/reducers/every.js
/dist/tools/reducers/every.js.map
/dist/tools/reducers/includes.d.ts
/dist/tools/reducers/includes.js
/dist/tools/reducers/includes.js.map
/dist/tools/reducers/index.d.ts
/dist/tools/reducers/index.js
/dist/tools/reducers/index.js.map
/dist/tools/reducers/or.d.ts
/dist/tools/reducers/or.js
/dist/tools/reducers/or.js.map
/dist/tools/reducers/partition.d.ts
/dist/tools/reducers/partition.js
/dist/tools/reducers/partition.js.map
/dist/tools/reducers/reduceify.d.ts
/dist/tools/reducers/reduceify.js
/dist/tools/reducers/reduceify.js.map
/dist/tools/reducers/removeDuplicates.d.ts
/dist/tools/reducers/removeDuplicates.js
/dist/tools/reducers/removeDuplicates.js.map
/dist/tools/reducers/sameAs.d.ts
/dist/tools/reducers/sameAs.js
/dist/tools/reducers/sameAs.js.map
/dist/tools/reducers/test.d.ts
/dist/tools/reducers/test.js
/dist/tools/reducers/test.js.map
/dist/tools/safeSetTimeout.d.ts
/dist/tools/safeSetTimeout.js
/dist/tools/safeSetTimeout.js.map
/dist/tools/testing/getPromiseAssertionApi.d.ts
/dist/tools/testing/getPromiseAssertionApi.js
/dist/tools/testing/getPromiseAssertionApi.js.map
/dist/tools/testing/index.d.ts
/dist/tools/testing/index.js
/dist/tools/testing/index.js.map
/dist/tools/tsafe/capitalize.d.ts
/dist/tools/tsafe/capitalize.js
/dist/tools/tsafe/capitalize.js.map
/dist/tsconfig.tsbuildinfo
/node_modules
